@{
    ViewBag.Title = "Home Page";
}



    <div class="container">
        <div class="row">
            <div class="main col-md-12">
                <div class="jumbotron visible-lg">
                    <h1>George Mason University</h1>
                    <p class="lead">Welcome to the Admission page</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <img style="float:right;" src="~/Images/mason1.jpg" alt="Aerial view of Fairfax campus">
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Freedom and Learning</h2>
                        <p>Situated in Fairfax County, Virginia, United States, George Mason University is is a young university that, in just a short time, has made impressive strides in size, stature and influence.
                        Today it is the largest public research university in the Commonwealth of Virginia.</p>
                        <ul>
                            <li> Mason is recognized for its programs in economics, law, creative writing, computer science, and business</li>
                            <li> In recent years, George Mason faculty have twice won the Nobel Prize in Economics</li>
                        </ul>
                        <p>George Mason University has four campuses in the United States, all within the Commonwealth of Virginia.</p>
                        <a href="/Applicants/Create" class="btn btn-lg btn-default btn-animated">Apply Now</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Images/mason2.jpg" alt="GMU Students">
                    </div>
                    <div class="col-md-6">
                        <h2>Where Innovation Is Tradition</h2>
                        <p>The university enrolls 33,917 students, making it the largest university by head count in the Commonwealth of Virginia.</p>
                        <div>
                            <h4>Student Life</h4>
                            <p>Student organizations can have an academic, social, athletic, career, or just about any other focus. The university recognizes 500 such groups.</p>
                        </div>
                        <div>
                            <h4>Flexible Schedule</h4>
                            <p>Many students like to have the option to take some or a majority of their classes online. An online class offers variety and can fit more easily into a crowded schedule. 
                                The Office of Digital Learning (ODL) aims to provide instructional design support and best practices to help students create innovative teaching and learning experiences at Mason</p>
                        </div>
                        <div>
                            <h4>Graduation</h4>
                            <p>Some of the many benefits of being a Mason graduate student are</p>
                            <ul>
                                <li>Numerous and diverse career and graduate-assistantship opportunities</li>
                                <li>Networking opportunities with the more than 80,000 Mason alumni who live and work in the Washington, D.C., area</li>
                            </ul>
                        </div>
                        <a href="/Applicants/Index" class="btn btn-lg btn-default btn-animated">Our students<i class="fa fa-cart-arrow-down pl-20"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </div>


